/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header div {
	display: flex;
	gap: 12px;
	color: white;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.overlay {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	animation: fadeIn .3s both;
	display: none;
}

.modal-body {
	position: fixed;
	width: 630px;
	height: 731px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	overflow: auto;
	display: none;
}

.fa-regular {
	color: white;
}

.fa-solid.fa-trash-can {
	color: white;
}

.titlemodal1 {
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 46px;
}

.modal-gallery {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 110px;
	margin-bottom: 37px;
	border: 1px solid #B3B3B3;
	padding-bottom: 24px;
	border-left: none;
	border-right: none;
	border-top: none;
}

.modal-gallery img {
	width: 100%;
}

.modal-gallery figure {
	width: 18%;
	margin-bottom: 25px;
	position: relative;
	display: inline-block;
}

.ajoutphotoModal {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	margin-left: 215px;
	margin-right: 198px;
	padding: 9px;
	margin-top: 12px;
	border: none;
}

.erasemodal {
	color: #D65353;
	background-color: white;
	display: flex;
	text-align: center;
	align-content: center;
	margin-left: 248px;
	border: none;
	cursor: pointer;
}

.modal-body2 {
	position: fixed;
	width: 630px;
	height: 670px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	display: none;

}

.modal-body2 form {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.modal-body2 form label {
	margin-bottom: 0.5em;
	margin-left: 105px;
	margin-top: 16px;
}

.modal-body2 form input[type="text"],
.modal-body2 form select {
	width: 420px;
	height: 40px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 1em;
	margin-left: 105px;
}

.modal-body2 form input[type="submit"] {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
	margin-top: 1em;
}

.modal-body2 form input[type="submit"]:hover {
	background-color: #1D6154;
	color: white;
}

.modal-body_close {
	position: absolute;
	top: 23px;
	right: 4px;
	cursor: pointer;
	transform: translate(-50%, -50%);
}

.modal-body_close i {
	width: 20px;
	height: 20px;
}

.modal-body_back {
	position: absolute;
	top: -17px;
	left: 24px;
	cursor: pointer;

}

.modal2 {
	position: relative;
	width: 420px;
	height: 169px;
	left: 114px;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 56px;
}

.centrer {
	display: flex;
	justify-content: center;
}

.selectedImage {

	width: 129px;
	height: 169px;
}

.noIm {
	position: absolute;
	top: 18%;
	right: 45%;
	margin-left: 180px;
	margin-top: 28px;
}

.addPic {
	margin-bottom: 10px;
}

button.addPic,
i.fa-regular.fa-image {
	position: absolute;
	top: 31%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 36px;
	border: none;
	color: #306685;
	background-color: #CBD6DC;
	border-radius: 60px;
	text-align: center;
}

.position {
	position: absolute;
	top: 40%;
	right: 39%;
}

.error-message {
	display: flex;
	text-align: center;
	color: #D65353;
	margin-top: 10px;
	display: none;
}

.modal-header {

	justify-content: center;
	gap: 44px;
	padding-top: 10px;
	padding-bottom: 11px;
	background-color: black;
	align-items: center;
}

.align {
	display: flex;
	align-items: center;
	gap: 10px;
}

.fa-regular {
	display: none;
}

.bordureChangement {
	border: 1px solid;
	border-radius: 60px;
	background-color: white;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 11px;
	padding-bottom: 11px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}

.attribut a {
	text-decoration: none;
	color: black;
}

.attribut a:hover {
	color: #B1663C;
	cursor: pointer;
}

.align1 {
	display: flex;
	flex-direction: column;
}

.align2 {
	display: flex;
	align-items: center;
	padding-top: 16px;
	margin-left: 56px;
}

.boutonmodif {
	display: none;
}

.align3 {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.align4 {
	display: flex;
	align-items: center;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}


#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 139px;
}

.fol {
	display: flex;
	gap: 11px;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 32px;
}

#filtres {
	display: flex;
	font-size: 16px;
	gap: 30px;
	justify-content: center;
	padding-bottom: 60px;
	padding-top: 30px;
	color: #1D6154;
	cursor: pointer;
}

#filtres li {
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px;
}

#filtres li:hover {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact select {
	width: 420px;
	text-align: left;
	display: flex;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-left: -43px;

}

#contact input {
	height: 40px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact button {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	margin-left: 226px;
}

button[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.login {
	margin-top: 150px;
}

.loginpage {
	max-height: 1024px;
	background: #FFFEF8;
}

.motdepasse {
	text-decoration: none;
	color: black;
	display: flex;
	justify-content: center;
	margin-bottom: 379px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

* {
	box-sizing: border-box;
}

*:focus {
	box-shadow: 0 0 10px blue;
}

.colorMessageError {
	color: #D65353;
	margin-top: 10px;
}

#jsmodalbody {
	display: none;
}

#jsmodalBody {
	display: none;
}

#jsmodalClose {
	display: none;
}

span#js-modalEdition {
	position: absolute;
	top: 16px;
	right: 16px;
	transform: translate(50%, -50%);
	background-color: black;
	padding: 4px;
	border-radius: 2px;
}

.modal-gallery figure.selected {
	border: 1px solid #B3B3B3;
}

#TokenokAffichage {
	display: none;
}

aside .fa-regular {
	color: black;
}

button .modeEdition {
	border: none;
}

#contact .ajoutType {
	width: 420px;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-left: -45px;
}

.facolor {
	color: black;
}

aside button {
	border: none;
	background-color: white;
}

.modal-gallery figure {
	position: relative;
}

.modal-gallery .trash-icon {
	position: absolute;
	top: 6px;
	right: 3px;
	color: white;
	background-color: black;
	padding: 7px 3px;
}

.boutonmodif3 {
	cursor: pointer;
}